In [2]:
#BMI Calculation
#Below 18.5 Underweight
# 18.5–24.9 Normal weight
# 25.0–29.9 Pre-obesity
# 30.0–34.9 Obesity class I
# 35.0–39.9 Obesity class II
# Above 40 Obesity class III
print("Enter height in ft-inch : ")
f = int(input("Feet : "))
i = int(input("Inch : "))
m = f *0.3048 + i*0.0254
wt = int(input("Weight in kg : "))
bmi = wt / m**2
if bmi < 18.5:
  print("Underweight")
elif bmi < 25:
  print("Normal weight")
elif bmi < 30:
  print("Pre-obesity")
elif bmi < 35:
  print("Obesity class I")
elif bmi < 40:
  print("Obesity class II")
else:
  print("Obesity class III")

Enter height in ft-inch :
Normal weight

In [2]:
# Factorial
def fac(n):
  if n<1:
    return 1
  else:
    return n*fac(n-1)

fac(5)

120

In [3]:
# Fibonacci Series 0 1 1 2 5 7 13

def fib(n):
  if n==0:
    return 0
  if n==1:
    return 1
  return fib(n-1)+fib(n-2)
for i in range(10):
  print(fib(i))

0
1
1
2
3
5
8
13
21
34

In [6]:
#Fizzbuzz
for i in range(1,101):
  f = 1
  if (not i%3):
    if (i%5):
      print("fizz")
      f = 0
    else:
      print("fizz", end = "")
  if (not i%5):
      print("buzz")
      f = 0
  if(f):
    print(i)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
fizzbuzz
46
47
fizz
49
buzz
fizz
52
53
fizz
buzz
56
fizz
58
59
fizzbuzz
61
62
fizz
64
buzz
fizz
67
68
fizz
buzz
71
fizz
73
74
fizzbuzz
76
77
fizz
79
buzz
fizz
82
83
fizz
buzz
86
fizz
88
89
fizzbuzz
91
92
fizz
94
buzz
fizz
97
98
fizz
buzz

In [5]:
class Student:
  def __init__(self,name , roll):
    self.name = name
    self.roll = roll
s1 = Student ("Nayan", 48)
print(s1.name, s1.roll)

Nayan 48