In [5]:
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
netflix_data = pd.read_csv('netflix_title.csv')
imdb_data = pd.read_csv('imdb_rating.csv')

In [7]:
#View a portion of data at glance
#to find the format of data
netflix_data.head()

,Unnamed: 0.1,Unnamed: 0,show_id,type,title,director,cast,country,date_added,rating,duration,listed_in,description
0,0,0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,1,1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,2,2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,3,3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,4,4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [12]:
netflix_data.tail()

,Unnamed: 0.1,Unnamed: 0,show_id,type,title,director,cast,country,date_added,rating,duration,listed_in,description
8802,8802,8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,8803,8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,8804,8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,8805,8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,8806,8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [13]:
netflix_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0.1  8807 non-null   int64
 1   Unnamed: 0    8807 non-null   int64
 2   show_id       8807 non-null   object
 3   type          8807 non-null   object
 4   title         8807 non-null   object
 5   director      6173 non-null   object
 6   cast          7982 non-null   object
 7   country       7976 non-null   object
 8   date_added    8797 non-null   object
 9   rating        8803 non-null   object
 10  duration      8804 non-null   object
 11  listed_in     8807 non-null   object
 12  description   8807 non-null   object
dtypes: int64(2), object(11)
memory usage: 894.6+ KB

In [16]:
imdb_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   MOVIES    9999 non-null   object
 1   YEAR      9355 non-null   object
 2   GENRE     9919 non-null   object
 3   RATING    8179 non-null   float64
 4   ONE-LINE  9999 non-null   object
 5   STARS     9999 non-null   object
 6   VOTES     8179 non-null   object
 7   RunTime   7041 non-null   float64
 8   Gross     460 non-null    object
dtypes: float64(2), object(7)
memory usage: 703.2+ KB

In [19]:
#finding number of null valuse
print("Netflix data shape : ", netflix_data.shape)
print(netflix_data.isna().sum())
#.isna() return a grid of data where NaN is repalce with true and where data is present is replace with false. true = 1 , flase = 0
#.sum() returns sum of data at each column

Netflix data shape :  (8807, 13)
Unnamed: 0.1       0
Unnamed: 0         0
show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [21]:
print("Imdb data set shape : ", imdb_data.shape)
print(imdb_data.isna().sum())

Imdb data set shape :  (9999, 9)
MOVIES         0
YEAR         644
GENRE         80
RATING      1820
ONE-LINE       0
STARS          0
VOTES       1820
RunTime     2958
Gross       9539
dtype: int64

In [37]:
#columns that are not needed are removed
netflix_data.drop(columns= ['show_id', 'cast', 'date_added', 'duration', 'description', 'listed_in', 'Unnamed: 0.1', 'Unnamed: 0'], inplace = True)
imdb_data.drop(columns= ['ONE-LINE', 'STARS', 'RunTime', 'Gross'], inplace = True)

KeyError: "['show_id', 'cast', 'date_added', 'duration', 'description', 'listed_in', 'Unnamed: 0.1', 'Unnamed: 0'] not found in axis"

In [38]:
netflix_data.head()

      type                  title         director        country rating
0    Movie   Dick Johnson Is Dead  Kirsten Johnson  United States  PG-13
1  TV Show          Blood & Water              NaN   South Africa  TV-MA
2  TV Show              Ganglands  Julien Leclercq            NaN  TV-MA
3  TV Show  Jailbirds New Orleans              NaN            NaN  TV-MA
4  TV Show           Kota Factory              NaN          India  TV-MA

In [30]:
imdb_data.head()

,MOVIES,YEAR,GENRE,RATING,VOTES
0,Blood Red Sky,(2021),"\nAction, Horror, Thriller",6.1,"21,062"
1,Masters of the Universe: Revelation,(2021– ),"\nAnimation, Action, Adventure",5.0,"17,870"
2,The Walking Dead,(2010–2022),"\nDrama, Horror, Thriller",8.2,"885,805"
3,Rick and Morty,(2013– ),"\nAnimation, Adventure, Comedy",9.2,"414,849"
4,Army of Thieves,(2021),"\nAction, Crime, Horror",NaN,NaN

In [49]:
#Remove dublicate 
# imdb_data.duplicated(subset=['MOVIES']).sum()
imdb_data[imdb_data.duplicated(subset=['MOVIES'],keep='first')].sort_values(by= 'MOVIES', ascending=False)
#Wednesday only one why show for that there is another parameter
#imdb_data[imdb_data.duplicated(subset=['MOVIES'],keep = False/first(defult)/last)].sort_values(by= 'MOVIES', ascending=False)

,MOVIES,YEAR,GENRE,RATING,VOTES
5460,Wanderlust,(2006 TV Movie),"\nDocumentary, History",6.6,122
3772,Verónica,(II) (2017),"\nDrama, Mystery, Thriller",5.9,"1,342"
5454,The Whole Truth,(2009),"\nAction, Comedy",3.2,114
2060,The Stranger,(1946),"\nCrime, Drama, Film-Noir",7.4,"25,188"
5374,The Silence,(III) (2015),\nDrama,7.3,298
...,...,...,...,...,...
7789,13 Reasons Why,(2017–2020),"\nDrama, Mystery, Thriller",5.1,"1,714"
8376,13 Reasons Why,(2017–2020),"\nDrama, Mystery, Thriller",5.9,"1,420"
7423,13 Reasons Why,(2017–2020),"\nDrama, Mystery, Thriller",5.7,"1,597"
8375,13 Reasons Why,(2017–2020),"\nDrama, Mystery, Thriller",5.6,"1,635"
8134,13 Reasons Why,(2017–2020),"\nDrama, Mystery, Thriller",6.2,"1,619"

In [40]:
imdb_data.drop_duplicates(inplace=True)

In [44]:
imdb_data.dropna(how='any',inplace=True)
netflix_data.dropna(how='any',inplace=True)

In [46]:
imdb_data.isna().sum()

MOVIES    0
YEAR      0
GENRE     0
RATING    0
VOTES     0
dtype: int64

In [51]:
imdb_data['Year_released'] = imdb_data['YEAR'].str.split('-').str[0].str[1:5]

In [52]:
imdb_data.head()

,MOVIES,YEAR,GENRE,RATING,VOTES,Year_released
0,Blood Red Sky,(2021),"\nAction, Horror, Thriller",6.1,"21,062",2021
1,Masters of the Universe: Revelation,(2021– ),"\nAnimation, Action, Adventure",5.0,"17,870",2021
2,The Walking Dead,(2010–2022),"\nDrama, Horror, Thriller",8.2,"885,805",2010
3,Rick and Morty,(2013– ),"\nAnimation, Adventure, Comedy",9.2,"414,849",2013
5,Outer Banks,(2020– ),"\nAction, Crime, Drama",7.6,"25,858",2020

In [53]:
imdb_data['YEAR'].unique()

array(['(2021)', '(2021– )', '(2010–2022)', '(2013– )', '(2020– )',
       '(2006–2013)', '(2019– )', '(2016–2021)', '(2011– )', '(2005– )',
       '(2008–2013)', '(2017– )', '(2017–2021)', '(2016– )',
       '(1994–2004)', '(2014– )', '(2013–2020)', '(2015– )',
       '(2005–2020)', '(2013–2022)', '(2003– )', '(2009–2020)',
       '(I) (2018– )', '(2010–2015)', '(2011–2019)', '(2015–2020)',
       '(2005–2014)', '(2009–2015)', '(2008–2014)', '(2016–2018)',
       '(2009–2017)', '(2020)', '(2018–2021)', '(2017–2020)',
       '(1987–1994)', '(2018– )', '(2012– )', '(2014–2020)',
       '(2011–2018)', '(2005–2017)', '(2017)', '(2007–2015)',
       '(2000–2007)', '(II) (2007– )', '(1993)', '(1999–2022)',
       '(2015–2018)', '(2014–2019)', '(2016)', '(2012–2020)',
       '(2013–2019)', '(2007–2012)', '(2011–2020)', '(2010–2017)',
       '(2000–2015)', '(2015–2021)', '(2001)', '(1997– )', '(2011–2017)',
       '(1993–1999)', '(1989–1998)', '(2010–2013)', '(2010–2020)',
       '(2003–2019)', '(I) (2019)', '(2017–2019)', '(1975)',
       '(2005–2008)', '(1995–2001)', '(2006)', '(2015–2017)',
       '(2008–2020)', '(1984–1996)', '(2010– )', '(2014)', '(2000)',
       '(2013–2018)', '(2009–2016)', '(2016–2020)', '(2021 TV Special)',
       '(2003)', '(1998–2003)', '(I) (2017)', '(1966–1969)', '(2009– )',
       '(2019)', '(1990–1991)', '(2012)', '(1995)', '(2020–2021)',
       '(2013–2017)', '(2015)', '(2019–2020)', '(2017–2018)',
       '(2013–2015)', '(2012–2017)', '(I) (2013–2016)', '(2002)',
       '(I) (2020)', '(III) (2021)', '(2018)', '(II) (2016)', '(1976)',
       '(1978)', '(2016–2019)', '(2009–2014)', '(2011–2014)',
       '(2007–2013)', '(2006–2007)', '(2002–2007)', '(2014–2017)',
       '(2010–2019)', '(2008– )', '(2012–2019)', '(2014–2016)',
       '(2009–2012)', '(2018–2020)', '(2001–2005)', '(2011–2015)',
       '(2014–2018)', '(2015–2019)', '(1982–1993)', '(1998– )', '(1968)',
       '(2010–2018)', '(2014–2021)', '(2007–2010)', '(2011)',
       '(2013–2021)', '(1990–1996)', '(2004)', '(2007–2014)',
       '(1996–2001)', '(2013)', '(2008)', '(1999–2000)', '(2012–2014)',
       '(I) (2013)', '(2012–2018)', '(2018–2019)', '(2009–2013)',
       '(1971)', '(2004– )', '(1989)', '(1998)', '(2001–2018)',
       '(1987–1995)', '(I) (2014)', '(1998–2020)', '(I) (2015)', '(1997)',
       '(2004–2013)', '(2002– )', '(2010)', '(I) (2016)', '(II) (2017– )',
       '(I) (2018)', '(I) (2021)', '(2004–2012)', '(2019–2021)',
       '(IV) (2020)', '(2006–2010)', '(2006–2012)', '(1996)',
       '(1994–2000)', '(II) (2020)', '(1980)', '(I) (2011)',
       '(1995–1996)', '(2016–2017)', '(1993–1996)', '(II) (2019– )',
       '(2009)', '(1962)', '(1991)', '(II) (2017)', '(I) (2012)',
       '(1984)', '(2011–2016)', '(2009–2019)', '(II) (2020– )',
       '(2006–2021)', '(I) (2010)', '(2012–2015)', '(I) (2013–2014)',
       '(1960)', '(1988)', '(2007)', '(1987)', '(2010–2011)', '(1969)',
       '(2006–2011)', '(II) (2019)', '(1961)', '(1979)', '(2014–2015)',
       '(1956)', '(2013–2016)', '(III) (2018)', '(2005)', '(II) (2012– )',
       '(II) (2013)', '(1983)', '(2002–2019)', '(2013 TV Movie)',
       '(II) (2015)', '(I) (2012–2015)', '(1975–1979)', '(1990)',
       '(II) (2018)', '(IV) (2021)', '(2015–2016)', '(1995–1998)',
       '(1986)', '(2012–2013)', '(1966)', '(2011–2012)', '(2011–2021)',
       '(2016 Video)', '(2017 TV Movie)', '(2009–2011)', '(2004–2018)',
       '(1967)', '(1984– )', '(1994)', '(2003–2006)', '(III) (2015)',
       '(1974)', '(2000–2004)', '(1984–2021)', '(II) (2021)',
       '(1994–1999)', '(1992)', '(1969–1974)', '(2012–2016)',
       '(2013–2014)', '(I) (2008)', '(1958)', '(2008–2009)',
       '(II) (2004)', '(III) (2019)', '(2006–2009)', '(2011–2013)',
       '(2007–2008)', '(1988–1999)', '(2010–2012)', '(2010–2014)',
       '(II) (2012)', '(1932)', '(2014 TV Movie)', '(1941)', '(2006– )',
       '(1992–1995)', '(2016 TV Special)', '(2020 TV Movie)',
       '(2008–2010)', '(2020 Video)', '(1999– )', '(1950)',
       '(2020 TV Special)', '(1992–2014)', '(2002–2005)',
       '(2013 TV Special)', '(I) (2021– )', '(1999)', '(2016 TV Movie)',
       '(2021 TV Movie)', '(1983– )', '(1996 Video)', '(1993 TV Movie)',
       '(2018 TV Movie)', '(2005–2009)', '(2001–2002)', '(2015 TV Movie)',
       '(I) (2020– )', '(2011 Video)', '(2008 Video)', '(2012 Video)',
       '(1946)', '(II) (2014)', '(2019 Video)', '(1981–1989)',
       '(IV) (2016)', '(III) (2016)', '(2019 TV Movie)', '(1952)',
       '(2007 Video)', '(2000–2014)', '(1992– )', '(1957)', '(2003–2007)',
       '(2008–2017)', '(2008–2019)', '(1998–2000)', '(I) (2004)',
       '(2007–2016)', '(2017 TV Special)', '(2009 TV Movie)',
       '(2013 Video)', '(2017 Video)', '(1994–1996)', '(IV) (2017)',
       '(IV) (2018)', '(2007– )', '(1954)', '(2012 TV Movie)', '(1995– )',
       '(1982)', '(1955)', '(2014 TV Short)', '(I) (2019–2020)',
       '(1975 TV Movie)', '(2019 TV Special)', '(2015 TV Special)',
       '(2015 TV Short)', '(2018 TV Special)', '(1948)', '(2014 Video)',
       '(VI) (2014)', '(2003–2013)', '(2021 Video)', '(1947)', '(2001– )',
       '(1997–2000)', '(III) (2020)', '(I) (2019– )', '(1993– )',
       '(1977)', '(I) (2009)', '(I) (2000)', '(II) (2011)', '(1945)',
       '(2015 Video)', '(III) (2010)', '(2009 Video)', '(1998–2002)',
       '(2008 TV Movie)', '(2019 TV Short)', '(2004 Video)',
       '(II) (1998)', '(2014 TV Special)', '(1953)', '(1985)', '(1973)',
       '(2012 TV Special)', '(V) (2016)', '(1972)', '(V) (2018)',
       '(II) (2010)', '(2021 TV Short)', '(VI) (2019)', '(I) (2005)',
       '(1965)', '(2010–2016)', '(V) (2010)', '(2005–2013)',
       '(2006 TV Special)', '(2006 Video)', '(2011 TV Movie)',
       '(1988 TV Movie)', '(2011 TV Special)', '(2020 TV Short)',
       '(VI) (2018)', '(2008 TV Special)', '(1998–1999)', '(I) (2015– )',
       '(III) (2012)', '(2010 TV Special)', '(III) (2017)',
       '(1993 TV Special)', '(2004–2005)', '(1992 Video)',
       '(1989 TV Special)', '(III) (2014)', '(1966 TV Special)',
       '(1999 TV Movie)', '(1987 TV Special)', '(1944)',
       '(1998 TV Special)', '(2006 TV Movie)', '(1989 Video)',
       '(1991 TV Special)', '(IV) (2014)', '(2005 Video)',
       '(2007 TV Special)', '(1965 TV Special)', '(1990 TV Special)',
       '(2001 TV Special)', '(II) (2016– )', '(XIV) (2017)',
       '(2009–2010)', '(1933)', '(II) (2009)', '(2010 Video)',
       '(2009 TV Special)', '(1938)', '(2003 TV Special)', '(VI) (2016)',
       '(III) (2011)', '(2007 TV Movie)', '(1995 Video)',
       '(II) (2016 TV Movie)', '(1998 Video)', '(2005 TV Special)',
       '(2018 Video Game)', '(1988– )', '(1985– )'], dtype=object)

In [54]:
#aaile paxi geram la
#imdb_data['Year_released'] = imdb_data['YEAR'].str.split('-').str[0].repalce(r'[^/d]', regex = True)

AttributeError: 'Series' object has no attribute 'repalce'

Merge more important