1. Numpy assignment 1: Perform edge detection in a photo. {
Hint:
 Import a photo using PIL library (install if necessary) and convert it to numpy
(PIL.Image.open() ).  Covert it to grayscale (For each pixel take mean of R,G,B values which will be the
grayscale value)
 Use edge detection logic (using Sobel Filter):
 Add padding pixels around the boundary of the image (use numpy.pad())
 For each pixel at position (i, j) perform following:
Image[i, j] = absolute_value_of(Gradx) + absolute_value_of(Grady)
where, Gradx = Sum(3x3 neighbourhood of Image[i, j] * Kx) i.e. element-wise multiplication of
two 3x3 matrices followed by sum of all elements
Grady = Sum(3x3 neighbourhood of Image[i, j] * Ky)
3x3 neighbourhood of Pix[i, j] = Image[i-1:i+2, j-1:j+2]
Kx = [[-1, -2, -1], [ 0, 0, 0], [ 1, 2, 1]]
Ky = [[-1, 0, 1], [ -2, 0, 2], [ -1, 0, 1]]

 Convert above obtained numpy array to PIL image (Image.fromarray())
 Show/save the image using PIL
}

In [30]:
from PIL import Image
import numpy as np
import pandas as pd

In [52]:
img = Image.open('image.jpeg')
print(img.format)
print(img.size)

JPEG
(3840, 2628)

In [42]:
img_rgb = img.convert('RGB')

In [43]:
print(img_rgb)

<PIL.Image.Image image mode=RGB size=3840x2628 at 0x7F0E55528A10>

In [44]:
img_array = np.array(img_rgb)
img_array = np.pad(img_array, pad_width=((1,1),(1,1),(0,0)), mode='constant', constant_values=0)
print(img_array.shape)

(2630, 3842, 3)

In [45]:
gray_img = np.mean(img_array, axis=2)

In [46]:
grayImage = Image.fromarray(gray_img)
grayImage.show()

In [47]:
kx = np.array([[-1, -2, -1], [0, 0, 0], [1, 2, 1]])
ky = np.array([[-1, 0, 1], [-2, 0, 2], [-1, 0, 1]])

In [48]:
for i in range(1, gray_img.shape[0]-1):
    for j in range(1, gray_img.shape[1]-1):
        grad_x = np.sum(img_array[i-1:i+2, j-1:j+2] * kx)
        grad_y = np.sum(img_array[i-1:i+2, j-1:j+2] * ky)
        gray_img[i, j] = abs(grad_x) + abs(grad_y)
edgeImage = Image.fromarray(gray_img)
edgeImage

In [53]:
edgeImage.show()

2: Estimating value of Pi (using Monte-Carlo Simulation):
{
Hint:
x = a number between 1 and -1 generated by using uniform random number
generator (For example x = np.random.uniform(-1, 1))
y = a number between 1 and -1 generated by using uniform random number
generator
distance(x, y) = distance of a point(x, y) from origin
point_is_inside_unit_circle(x, y) is True if distance(x, y) is less than equal to 1

To estimate pi:
generate number of points (x1, y1) ... (xN, yN) using uniform random number
generator. Pi = (number_of_points_inside_unit_circle/ total_numbers_generated) * 4
}

In [28]:
number_of_points_generated = 5000
points_inside_circle = 0
for i in range(number_of_points_generated):
    x = np.random.uniform(-1, 1)
    y = np.random.uniform(-1, 1)
    if x**2 + y**2 <= 1:
        points_inside_circle += 1
PI = 4 * points_inside_circle / number_of_points_generated
print("The value of PI is: ", PI)

The value of PI is:  3.1496

3. Pandas assignment: On the attached salaries dataset, perform following:
 What is the job title and base pay of “David Shinn”  What is the average base pay
 Fill the missing numeric value in each column using the column's average
 Select and display rows where the JobTitle is "CAPTAIN III (POLICE
DEPARTMENT)".  Find employees whose BasePay is greater than $200,000.  Identify the employees who received the lowest Benefits.  Find the top 5 employees based on their TotalPay, and display their
EmployeeName, JobTitle, and TotalPay.  Calculate the average BasePay for each unique JobTitle. Find the job title with
the highest average BasePay.

In [33]:
ep = pd.read_csv('Salaries.csv')
ep.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

In [35]:
print("The job title and base pay of David Shinn is: ")
ep[ep['EmployeeName'] == 'David Shinn'][['JobTitle', 'BasePay']]

The job title and base pay of David Shinn is:

              JobTitle    BasePay
36196   Deputy Chief 3  263426.50
110531  Deputy Chief 3  129150.01

In [37]:
meanPay = ep['BasePay'].mean(skipna=True)
print("The average base pay is: Rs", meanPay)

The average base pay is: Rs 66325.4488404877

In [38]:
numeric_cols = ep.select_dtypes(include=['float64', 'int64']).columns
for col in numeric_cols:
    ep[col] = ep[col].fillna(ep[col].mean())

In [39]:
ep[ep['JobTitle'] == 'CAPTAIN III (POLICE DEPARTMENT)']

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,25007.893151,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,25007.893151,335279.91,335279.91,2011,NaN,San Francisco,NaN
11,12,PATRICIA JACKSON,CAPTAIN III (POLICE DEPARTMENT),99722.00,87082.62,110804.30,25007.893151,297608.92,297608.92,2011,NaN,San Francisco,NaN
61,62,ANNA BROWN,CAPTAIN III (POLICE DEPARTMENT),102571.24,7437.00,128543.64,25007.893151,238551.88,238551.88,2011,NaN,San Francisco,NaN
65,66,RICHARD PARRY,CAPTAIN III (POLICE DEPARTMENT),185369.69,37873.61,14465.53,25007.893151,237708.83,237708.83,2011,NaN,San Francisco,NaN
91,92,DONNA MEIXNER,CAPTAIN III (POLICE DEPARTMENT),102722.40,7437.00,118456.21,25007.893151,228615.61,228615.61,2011,NaN,San Francisco,NaN
93,94,JOHN MURPHY,CAPTAIN III (POLICE DEPARTMENT),215914.03,0.00,12293.83,25007.893151,228207.86,228207.86,2011,NaN,San Francisco,NaN
125,126,SHARON FERRIGNO,CAPTAIN III (POLICE DEPARTMENT),185369.68,27321.83,4651.44,25007.893151,217342.95,217342.95,2011,NaN,San Francisco,NaN
211,212,CROCE CASCIATO,CAPTAIN III (POLICE DEPARTMENT),188341.62,0.00,16206.24,25007.893151,204547.86,204547.86,2011,NaN,San Francisco,NaN
214,215,JOHN FEENEY,CAPTAIN III (POLICE DEPARTMENT),188348.55,5720.22,10173.43,25007.893151,204242.20,204242.20,2011,NaN,San Francisco,NaN
225,226,STEPHEN TACCHINI,CAPTAIN III (POLICE DEPARTMENT),188341.60,2258.63,12252.44,25007.893151,202852.67,202852.67,2011,NaN,San Francisco,NaN
239,240,GREGORY CORRALES,CAPTAIN III (POLICE DEPARTMENT),188341.64,1109.10,12252.70,25007.893151,201703.44,201703.44,2011,NaN,San Francisco,NaN
240,241,JOHN EHRLICH,CAPTAIN III (POLICE DEPARTMENT),188341.62,1068.45,12211.62,25007.893151,201621.69,201621.69,2011,NaN,San Francisco,NaN
248,249,DANIEL MAHONEY,CAPTAIN III (POLICE DEPARTMENT),196061.30,0.00,4749.91,25007.893151,200811.21,200811.21,2011,NaN,San Francisco,NaN
252,253,JOHN GOLDBERG,CAPTAIN III (POLICE DEPARTMENT),188341.61,0.00,12119.40,25007.893151,200461.01,200461.01,2011,NaN,San Francisco,NaN
253,254,ANTONIO PARRA,CAPTAIN III (POLICE DEPARTMENT),188341.60,0.00,12119.37,25007.893151,200460.97,200460.97,2011,NaN,San Francisco,NaN
257,258,KEITH SANFORD,CAPTAIN III (POLICE DEPARTMENT),188341.84,1134.34,10799.25,25007.893151,200275.43,200275.43,2011,NaN,San Francisco,NaN
261,262,PAUL CHIGNELL,CAPTAIN III (POLICE DEPARTMENT),188314.54,0.00,11547.94,25007.893151,199862.48,199862.48,2011,NaN,San Francisco,NaN
274,275,DENIS OLEARY,CAPTAIN III (POLICE DEPARTMENT),188341.60,0.00,10542.72,25007.893151,198884.32,198884.32,2011,NaN,San Francisco,NaN
277,278,LOUIS CASSANEGO,CAPTAIN III (POLICE DEPARTMENT),188341.60,0.00,10125.04,25007.893151,198466.64,198466.64,2011,NaN,San Francisco,NaN
284,285,GARRET TOM,CAPTAIN III (POLICE DEPARTMENT),188341.62,2886.03,6646.21,25007.893151,197873.86,197873.86,2011,NaN,San Francisco,NaN
296,297,DAVID LAZAR,CAPTAIN III (POLICE DEPARTMENT),195975.32,0.00,917.32,25007.893151,196892.64,196892.64,2011,NaN,San Francisco,NaN
303,304,DOUGLAS MCEACHERN,CAPTAIN III (POLICE DEPARTMENT),194566.01,1109.10,819.03,25007.893151,196494.14,196494.14,2011,NaN,San Francisco,NaN
319,320,ANN MANNIX,CAPTAIN III (POLICE DEPARTMENT),188314.50,0.00,7310.63,25007.893151,195625.13,195625.13,2011,NaN,San Francisco,NaN
348,349,JOHN GARRITY,CAPTAIN III (POLICE DEPARTMENT),188341.62,1131.28,4586.65,25007.893151,194059.55,194059.55,2011,NaN,San Francisco,NaN
366,367,JOHN LOFTUS,CAPTAIN III (POLICE DEPARTMENT),188341.62,0.00,4609.75,25007.893151,192951.37,192951.37,2011,NaN,San Francisco,NaN
367,368,DOMINIC CELAYA,CAPTAIN III (POLICE DEPARTMENT),188341.64,0.00,4586.67,25007.893151,192928.31,192928.31,2011,NaN,San Francisco,NaN
368,369,JOHN SANFORD JR,CAPTAIN III (POLICE DEPARTMENT),188341.62,0.00,4586.66,25007.893151,192928.28,192928.28,2011,NaN,San Francisco,NaN
369,370,STEPHEN TITTEL,CAPTAIN III (POLICE DEPARTMENT),188341.60,0.00,4586.63,25007.893151,192928.23,192928.23,2011,NaN,San Francisco,NaN
370,371,TERESA BARRETT,CAPTAIN III (POLICE DEPARTMENT),188328.08,0.00,4586.42,25007.893151,192914.50,192914.50,2011,NaN,San Francisco,NaN
371,372,VALERIE AGARD,CAPTAIN III (POLICE DEPARTMENT),185342.48,3627.67,3936.60,25007.893151,192906.75,192906.75,2011,NaN,San Francisco,NaN
396,397,CHARLIE ORKES,CAPTAIN III (POLICE DEPARTMENT),188341.60,1109.10,1954.26,25007.893151,191404.96,191404.96,2011,NaN,San Francisco,NaN
425,426,MICHAEL CONNOLLY,CAPTAIN III (POLICE DEPARTMENT),188341.63,0.00,915.59,25007.893151,189257.22,189257.22,2011,NaN,San Francisco,NaN
525,526,CURTIS LUM,CAPTAIN III (POLICE DEPARTMENT),184700.97,0.00,851.04,25007.893151,185552.01,185552.01,2011,NaN,San Francisco,NaN
912,913,SYLVIA HARPER,CAPTAIN III (POLICE DEPARTMENT),71230.00,0.00,101242.15,25007.893151,172472.15,172472.15,2011,NaN,San Francisco,NaN
4143,4144,ANTHONY FOTINOS,CAPTAIN III (POLICE DEPARTMENT),42738.00,47827.70,39904.72,25007.893151,130470.42,130470.42,2011,NaN,San Francisco,NaN
11198,11199,KATHRYN BROWN,CAPTAIN III (POLICE DEPARTMENT),10684.50,0.00,81244.87,25007.893151,91929.37,91929.37,2011,NaN,San Francisco,NaN

In [40]:
ep[ep['BasePay'] > 200000]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,25007.893151,335279.91,335279.91,2011,NaN,San Francisco,NaN
7,8,DAVID KUSHNER,DEPUTY DIRECTOR OF INVESTMENTS,256576.96,0.00,51322.50,25007.893151,307899.46,307899.46,2011,NaN,San Francisco,NaN
9,10,JOANNE HAYES-WHITE,"CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",285262.00,0.00,17115.73,25007.893151,302377.73,302377.73,2011,NaN,San Francisco,NaN
12,13,EDWARD HARRINGTON,EXECUTIVE CONTRACT EMPLOYEE,294580.02,0.00,0.00,25007.893151,294580.02,294580.02,2011,NaN,San Francisco,NaN
13,14,JOHN MARTIN,DEPARTMENT HEAD V,271329.03,0.00,21342.59,25007.893151,292671.62,292671.62,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
110953,110954,Ronald P Flynn,Assistant Chief Attorney 1,201296.01,0.00,1250.00,57125.630000,202546.01,259671.64,2014,NaN,San Francisco,NaN
110954,110955,Sheryl L Bregman,Assistant Chief Attorney 1,201296.00,0.00,1250.00,57125.620000,202546.00,259671.62,2014,NaN,San Francisco,NaN
110976,110977,Susan T Obata,Supervising Physician Spec,202445.22,0.00,0.00,55649.140000,202445.22,258094.36,2014,NaN,San Francisco,NaN
110977,110978,John O Funghi,Engineer/Architect Principal,201181.01,0.00,0.00,56841.850000,201181.01,258022.86,2014,NaN,San Francisco,NaN
111107,111108,Mayra T Vivas,Senior Physician Specialist,205036.00,0.00,1260.00,45288.540000,206296.00,251584.54,2014,NaN,San Francisco,NaN

In [41]:
min_benefits = ep['Benefits'].min()
ep[ep['Benefits'] == min_benefits][['EmployeeName', 'Benefits']]

         EmployeeName  Benefits
110530  David P Kucia    -33.89

In [42]:
ep.sort_values(by='TotalPay', ascending=False).head(5)[['EmployeeName', 'JobTitle', 'TotalPay']]

,EmployeeName,JobTitle,TotalPay
0,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,567595.43
1,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),538909.28
110531,David Shinn,Deputy Chief 3,471952.64
110532,Amy P Hart,Asst Med Examiner,390111.98
36159,Gary Altenberg,"Lieutenant, Fire Suppression",362844.66

In [45]:
average_basepay = ep.groupby('JobTitle')['BasePay'].mean()
highest_avg_pay_job = average_basepay.idxmax()
highest_avg_pay = average_basepay.max()
print("The job with the highest average base pay is: ", highest_avg_pay_job)
print("The highest average base pay is: Rs", highest_avg_pay)

The job with the highest average base pay is:  Chief of Police
The highest average base pay is: Rs 309767.68333333335